@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: white;
    --background-color: rgb(22, 22, 22);
    --primary-color: #0799ee;
    --primary-color-shadow: #0799ee70;
    --error-color : red;
    --error-color-shadow: rgb(255, 0, 0);
    --botão-shadow: rgba(0, 0, 0, 0.144);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/backgroundCinza.png);
    background-size: cover;
    color: var(--text-color);
}

#CaixaDeMetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border: 3px solid rgba(255, 255, 255, 0.356);
    border-radius: 24px;
    width: 60%;
    min-height: 500px;
    background-color: #ffffff0e;
    backdrop-filter: blur(8px);
    padding: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.288);
}

#Titulo {
    font-size: 30px;

}

#Subtitulo {
    color: rgba(255, 255, 255, 0.829);
}

#CaixaDeMetas h3 {
    text-align: center;
    padding: 8px;

    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#CaixaDeMetas h3 ion-icon:hover {
    color: red;
    transition: 0.2s;

}

#botaoCriarMeta {
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.1);
    /* cor transparente */
    border-radius: 20px;
    /* bordas arredondadas */
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

    /* Efeito vidro */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* para Safari */
    border: 1px solid rgba(255, 255, 255, 0.274);

    /* Glow sutil nas bordas */
    box-shadow: 0 4px 30px var(--botão-shadow);
}

#botaoCriarMeta:hover {
    transition: 0.3s ease;
    transform: scale(102%);
    border: 1.5px solid rgba(255, 255, 255, 0.685);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.295);
}

#CaixaDeMetas section {
    width: 500px;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 18PX;
    border: 1.5px solid rgba(255, 255, 255, 0.185);
}

.CriarMetas {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 40%;
}

#inputMeta {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.103);
    border: 2px solid rgba(255, 255, 255, 0.24);
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 15px;
    font-size: 16px;
}

#inputMeta:focus {
    border: 1px solid #f8f8f8;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.322);
}

.barra-container {
    width: 100%;
    height: 15px;
    background-color: #00000046;
    /* cinza de fundo */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.288);
}

.barra {
    height: 100%;
    width: 0%;
    /* começa vazia */
    background: linear-gradient(to right, #1290ca, #0799ee, #2cabff, #75c9fa);
    transition: width 0.3s ease;

}

li {
    display: flex;
    align-items: center;
}

li ion-icon:hover {
    color: red;
    transition: 0.2s;
}

#caixaCriarObjeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputCriarObjetivo {
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.103);
    border: 2px solid rgba(255, 255, 255, 0.24);
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 15px;
    font-size: 14px;
}

#inputCriarObjetivo:focus {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 12px var(--primary-color-shadow);
    background: rgba(47, 130, 255, 0.1);

}

#botãoCriarObjetivo {
    background: rgba(255, 255, 255, 0.1);
    /* cor transparente */
    border-radius: 20px;
    /* bordas arredondadas */
    padding: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

    /* Efeito vidro */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* para Safari */
    border: 1px solid rgba(255, 255, 255, 0.274);

    /* Glow sutil nas bordas */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.144);
}

#botãoCriarObjetivo:hover {
    transition: 0.3s ease;
    transform: scale(102%);
    border: 1.5px solid var(--primary-color);
    box-shadow: 0 4px 30px var(--primary-color-shadow);
    background: rgba(47, 130, 255, 0.1);
}

#inputCheckboxObjetivo {
    accent-color: var(--primary-color);
    margin-right: 5px;
}

.placeholder-vermelho::placeholder{
    color: rgba(255, 0, 0, 0.658);
    
    
}
