@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: white;
    --background-color: rgb(22, 22, 22);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/background.png);
    background-size: cover;
    color: var(--text-color);
}

#CaixaDeMetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border: 3px solid rgba(255, 255, 255, 0.356);
    border-radius: 24px;
    width: 60%;
    min-height: 500px;
    background-color: #ffffff0e;
    backdrop-filter: blur(8px);
    padding: 1rem;
}

#CaixaDeMetas h3 {
    text-align: center;
    padding: 8px;
    
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#CaixaDeMetas h3 ion-icon:hover {
    color: red;
    transition: ease-in-out 0.2s;

}

#botaoCriarMeta {
     background: rgba(255, 255, 255, 0.1); /* cor transparente */
  border-radius: 20px;                  /* bordas arredondadas */
  padding: 15px 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;

  /* Efeito vidro */
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px); /* para Safari */
  border: 1px solid rgba(255, 255, 255, 0.274);

  /* Glow sutil nas bordas */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.288);
}

#botaoCriarMeta:hover{
    transition: 0.3s ease;
    transform: scale(102%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.664);
}

#CaixaDeMetas section {
    width: 500px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 18PX  ;
}

.CriarMetas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
}

#inputMeta {
    padding: 12px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
    outline: none;
    padding: 12px;
    border-radius: 15px;
}

.barra-container {
    width: 100%;
    height: 15px;
    background-color: #55555594;
    /* cinza de fundo */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
}

.barra {
    height: 100%;
    width: 0%;
    /* começa vazia */
    background: linear-gradient(to right, #ca12bb, #b720e5, #4632f5, #4766f1);
    transition: width 0.3s ease;
    box-shadow: 2px 5px 30px rgb(255, 123, 0);
}

li {
    display: flex;
    align-items: center;
}

li ion-icon:hover {
    color: red;
    transition: ease-in-out 0.2s;
}